body {
    background-color: rgb(160,120,120);
    margin: 0px;
    overflow: hidden;
}

.viewport {
    border: 1px solid rgb(120,80,80);
    position: absolute;
    top: 0px;
    left: 0px;
}

.label {
    position: absolute;
    top: 5px;
    left: 5px;
}


#obj-nav-btns {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 150px;
  height: 68px;
}

#obj-nav-btns button {
  position: absolute;
}

#up-btn {
  top: 0;
  right: 56px;
}

#down-btn {
  bottom: 0;
  right: 56px;
}

#right-btn {
  top: 20px;
  right: 0;
}

#left-btn {
  top: 20px;
  left: 0;
}
